---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import QuickExit from "../components/QuickExit.astro";
import Hero from "../components/about/Hero.astro";
import Employee from "../components/about/Employee.astro";
import Testimonials from "../components/Testimonials.astro";
import Contact from "../components/Contact.astro";
import Main from "../layouts/Main.astro";
---

<Main>
  <Header />
  <QuickExit />
  <Hero />
  <Employee />
  <Testimonials />
  <Contact />
  <Footer />
</Main>