---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import QuickExit from '../components/QuickExit.astro';
import Hero from '../components/resources/Hero.astro';
import Info from '../components/resources/Info.astro';
import Blog from '../components/resources/Blog.astro';
import Contact from '../components/Contact.astro';
import Main from '../layouts/Main.astro';
import LaunchingSoon from "../components/LaunchingSoon.astro";
---

<Main>
	<LaunchingSoon />
	<Header />
	<QuickExit />
	<Hero />
	<Info />
	<Blog />
	<Contact />
	<Footer />
</Main>