---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import QuickExit from '../components/QuickExit.astro';
import Hero from '../components/services/Hero.astro';
import Services2 from '../components/services/ServicesOverview.astro';
import Overview from '../components/services/Overview.astro';
import Contact from '../components/Contact.astro';
import Main from '../layouts/Main.astro';
---

<Main>
	<Header />
	<QuickExit />
	<Hero />
	<Services2 />
	<Overview />
	<Contact />
	<Footer />
</Main>