---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import QuickExit from "../components/QuickExit.astro";
import Content from "../components/site-legal/Content.astro";
import Main from "../layouts/Main.astro";
import ComingSoon from "../components/ComingSoon.astro";
---

<Main>
  <ComingSoon />
  <Header />
  <QuickExit />
  <Content>
    <span slot="title">Terms of Use</span>
    <span slot="legal-content-txt">
      <p>
        This website is operated by Hazel Family Law & Mediation (Hazel). By
        using this website you are deemed to accept the following terms and
        conditions (“this website” means the whole or any part of the web pages
        located at hazelfamilylaw.com.au and include the layout of this website;
        individual elements of this website’s design; underlying code elements
        of the website; or text, sounds, graphics, animated elements or any
        other content of this website). As you browse through this website you
        may access other websites that are subject to different terms of use.
        When using these other sites, you will be bound by the terms and
        conditions posted on those websites. Hazel may change these terms of use
        at any time without notice. Any amendment will be effective immediately.
        Your use of this website after any amendment constitutes an agreement by
        you to comply with and be bound by the amended terms of use.
        Accordingly, you should read these terms of use from time to time for
        changes.
      </p>
      <h3>Disclaimer</h3>
      <p>
        The content on this website is provided by Hazel in good faith on an “as
        is” basis for general information purposes only and is not intended to
        constitute or substitute legal or other professional advice. All
        articles, updates or other information available on this website are
        prepared so that they are current as at the date of writing. It should
        be noted that such information can rapidly become out of date. You must
        make your own assessment of the information and rely on it wholly at
        your own risk. You should not take any actions based on information
        found on this website without seeking legal advice.<br /><br />
        Hazel makes no representations about the suitability, reliability, timeliness,
        comprehensiveness and accuracy of the information, services and other content
        contained on this website. Hazel may, from time to time, change or add to
        this website without notice. However, we do not undertake to keep this website
        updated. Hazel is not liable to you or anyone else if errors occur in the
        information on this website or if that information is not up-to-date.<br
        /><br />
        Legal content on this website relates only to the law or laws it is specified
        to apply to, and that law may be different from your law.<br /><br />
        Hazel cannot guarantee that the content and the provision of the content of
        this website will always be correct or fault, error and virus free. Hazel
        does not accept liability for incorrect content or errors and omissions in
        this website or its content (whether of legal, typographical, technical or
        other nature) but endeavours to correct them as quickly as practicable. Hazel
        will not be liable for any interference with or damage to your computer systems
        that may occur in connection with use of this website or a linked website,
        or for any data lost or any equipment or software replaced by you as a result
        of you using this website. You must take your own precautions to ensure that
        whatever you select for your use from this website is free of viruses or anything
        else (such as worms or trojan horses) that may interfere with or damage the
        operations of your computer systems.<br /><br />
        Save in respect of liability for death or personal injury arising out of negligence
        or for fraudulent misrepresentation, Hazel shall not be liable directly or
        indirectly in contract, tort, equity or otherwise for any damage whatsoever
        in connection with this website or any use of content provided on this website,
        including any direct, indirect, special, incidental or consequential damage
        (including but not limited to loss of profits, interest, data, business revenue,
        anticipated savings, business or goodwill).<br /><br />
        Hazel will in no way be liable to you or anyone else for any loss or damage,
        however caused which may be directly or indirectly suffered in connection
        with websites of other entities that are hyperlinked from this website. To
        the extent permitted by applicable law, all representations, warranties and
        other terms are excluded. This general disclaimer is not restricted or modified
        by any specific warnings and disclaimers elsewhere on this website.
      </p>
      <h3>User rights and intellectual property rights</h3>
      <p>
        This website is our copyright property. All rights are reserved.<br
        /><br />
        You are provided with access to it only for your personal and non-commercial
        use. Other than for these permitted purposes, and for the purposes of and
        subject to the conditions prescribed under statutes that apply in your location,
        you may not, in any form or by any means:
      </p>
      <ul>
        <li>
          adapt, reproduce, store, distribute, transmit, print, display,
          perform, publish or create derivative works from any part of this
          website; or
        </li>
        <li>
          commercialise any information, products or services obtained from any
          part of this website, without our written permission.
        </li>
      </ul>
      <p>
        All rights in this website and the content on this website including
        copyright, design rights, patents, inventions, know how, database
        rights, trademarks, source codes and any other intellectual property
        rights in any of the foregoing are reserved to Hazel and/or their
        content and technology providers.<br /><br />
        All trade names, trade marks, service marks and other product and service
        names and logos (the “Marks”) displayed on the website are proprietary to
        their respective owners and are protected by applicable trade mark and copyright
        laws. These Marks may be registered or unregistered marks of Hazel or others.<br
        /><br />
        Nothing contained on the website should be construed as granting any licence
        or right of use of any other person’s or entity’s trade mark which is displayed
        on this website without their express permission.<br /><br />
        You may not remove, change or obscure the Hazel logo or any notices of proprietary
        rights on any content of this website.
      </p>
      <h3>Links</h3>
      <p>
        This website may contain links to other websites solely for your
        convenience only and may not remain current or be maintained. Hazel does
        not endorse, recommend or approve of any information, products or
        services referred to on such linked sites and assumes no responsibility
        for the contents of any other website to which this website offers
        links.<br />
        You may not link the homepage or any other parts of this website without prior
        written consent from Hazel.<br />
        Your use of any link to a linked website is entirely at your own risk.<br
        />
        Unless stated otherwise on this website, Hazel has:
      </p>
      <ul>
        <li>
          no relationship with the owners or operators of those linked website;
          and
        </li>
        <li>no control over or rights in those linked websites.</li>
      </ul>
      <h3>Privacy policy</h3>
      <p>
        These Terms of Use incorporate and should be read together with the
        Hazel Privacy Policy. Hazel will use only the personal data which you
        submit to us via the website in accordance with our Privacy Policy.The
        Privacy Policy also describes how this website may collect, store and
        use cookies.
      </p>
      <h3>Alterations</h3>
      <p>
        Hazel reserves the right to terminate, suspend or alter the content of
        this website and to amend these terms and conditions at any time.
        Continued use of this website after alteration of these terms and
        conditions shall be deemed to constitute acceptance of such alterations.
      </p>
      <h3>General</h3>
      <p>
        If any provision of these terms and conditions is or becomes invalid,
        illegal or unenforceable in any respect under the law of any
        jurisdiction:
      </p>
      <ul>
        <li>
          the validity, legality and enforceability under the law of that
          jurisdiction of any other provision; and
        </li>
        <li>
          the validity, legality and enforceability under the law of any other
          jurisdiction of that or any other provision, shall not be affected or
          impaired in any way thereby.
        </li>
      </ul>
      <p>
        These terms and conditions and any dispute, controversy, proceedings or
        claim of whatever nature arising out of or in any way relating to these
        terms and conditions shall be governed by and construed in accordance
        with Australian law and the courts of Australian shall have exclusive
        jurisdiction to resolve any disputes between us relating to these terms
        and conditions.
      </p>
    </span>
    <Footer />
  </Content>
  <Footer />
</Main>
