---
import HazelLogo from "../assets/LogoPartial/HFL01_Logo_Setup_Wordmark_R0a copy_HFL_Wordmark_Oat.svg";
---

<section class="coming-soon">
  <img src={HazelLogo.src} alt="Hazel Logo" />
  <h2>Launching soon...</h2>
</section>

<style lang="scss">
  .coming-soon {
    position: absolute;
    z-index: -1000000000;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 2rem 6.25rem;
    background: var(--hazelwood);
    color: var(--oat-husk);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    img {
      width: 100%;
      height: auto;
    }
    h2 {
      text-align: center;
      font-size: 2rem;
      font-weight: 300;
    }
    @media screen and (max-width: 920px) {
      h2 {
        font-size: 1rem;
      }
    }
  }
</style>
