---
import Placeholder from "../assets/more-shadows.webp";
import { getCollection } from "astro:content";

interface Props {
  service: string;
}

const { service } = Astro.props as Props;
const services = await getCollection("services");
const currentService = services.find((s) => s.slug === service);
const serviceData = currentService?.data;
const { Content } = await currentService!.render();
console.log("Service slug:", service);
console.log("Service data:", serviceData);
console.log("Image path:", serviceData?.image);
---

<section class="service-post">
  <div class="row">
    <div class="text">
      <h2>
        {
          serviceData && serviceData.title
            ? serviceData.title
            : "Service not found"
        }
      </h2>
      <div class="image">
        <img
          src={serviceData?.image ?? Placeholder.src}
          alt={serviceData?.title ?? "Service image"}
        />
      </div>
      <p class="short-description">
        {
          serviceData && serviceData["short-description"]
            ? serviceData["short-description"]
            : "No description available."
        }
      </p>
      <div class="service-content">
        <Content />
      </div>
    </div>
    <div class="image">
      <img
        src={serviceData?.image ?? Placeholder.src}
        alt={serviceData?.title ?? "Service image"}
      />
    </div>
  </div>
  {
    serviceData &&
      serviceData["accreditation-images"] &&
      serviceData["accreditation-images"].length > 0 && (
        <div class="logos">
          {serviceData["accreditation-images"].map((image: string) => (
            <img src={image} alt="Logo" />
          ))}
        </div>
      )
  }
</section>

<style lang="scss">
  .service-post {
    padding: 4rem 2rem 4rem 2rem;
    width: 100%;
    margin: 0;
    background: var(--oat-husk);
    color: var(--burnt-umber);
    .row {
      width: 100%;
      height: max-content;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px none var(--hazelwood);
      margin: 4rem 0 4rem 0;
      padding: 0 0 4rem 0;
      .text {
        width: 40%;
        min-height: 80vh;
        max-height: fit-content;
        display: flex;
        flex-direction: column;
        h2 {
          font-weight: 400;
          font-size: 3rem;
        }
        h3 {
          font-weight: 300;
          font-size: 1.5rem;
          color: var(--hazelwood);
        }
        p.short-description {
          margin: 2.5rem 0 2.5rem 0;
          font-size: 1.5rem;
          font-weight: 300;
          color: var(--hazelwood);
        }
        .service-content {
          :global(p) {
            margin: 0 0 2rem 0 !important;
            font-size: 1rem;
            font-weight: 300;
          }
        }
        div.image {
          width: 100%;
          height: auto;
          display: none;
          img {
            aspect-ratio: 1 /1;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
          }
        }
      }
      .image {
        width: 40%;
        height: 80vh;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
        }
      }
    }
    .logos {
      margin: 6rem 0 4rem 0;
      max-width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      flex-direction: row;
      img {
        width: 23%;
        margin: 0 2rem 0 0;
        object-fit: contain;
      }
    }
  }

  @media screen and (max-width: 920px) {
    .service-post {
      padding: 6.25rem 2rem 2.5rem 2rem;
      width: 100%;
      margin: 0;
      background: var(--oat-husk);
      color: var(--burnt-umber);
      .row {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 1px solid var(--hazelwood);
        margin: 0rem 0 0rem 0;
        padding: 0 0 2.5rem 0;
        .text {
          width: 100%;
          height: max-content;
          display: flex;
          flex-direction: column;
          h2 {
            font-weight: 400;
            font-size: 2.25rem;
            padding: 0;
            margin: 0 0 2.5rem 0;
          }
          h3 {
            font-weight: 300;
            font-size: 1rem;
            color: var(--hazelwood);
            padding: 0;
            margin: 0rem 0 1rem 0;
          }
          .service-content {
            :global(p) {
              margin: 0 0 1rem 0 !important;
              font-size: 1rem;
              font-weight: 300;
            }
          }
          div.image {
            display: block;
            margin: 0 0 6.25rem 0;
            img {
              aspect-ratio: 4 / 3;
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 8px;
            }
          }
        }
        .image {
          width: 100%;
          height: auto;
          display: none;
          img {
            aspect-ratio: 1 /1;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
          }
        }
      }
      .logos {
        margin: 2.5rem 0rem 0rem 0;
        padding-bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        img {
          width: 100%;
          margin: 1rem 0 0 0;
          object-fit: cover;
        }
      }
    }
  }
</style>
