<section class="intro-card">
  <div id="get-started">
    <div id="starting-steps">
      <h2 style="margin: 0; font-weight: 400;">Useful Links</h2>
      <p>
        If you haven’t worked with a family lawyer before, not knowing what to
        expect can make things feel even harder. <span
          style="color: var(--deep-coal); font-weight: 400;"
          >We take the time to guide you</span
        >
        through the process, so you know what comes next and <span
          style="color: var(--deep-coal); font-weight: 400;"
          >feel supported every step of the way.</span
        >
      </p>
    </div>
    <div id="accordian-wrapper">
      <details>
        <summary>Courts and Laws</summary>
        <ul>
          <li>
            <a
              href="https://www.fcfcoa.gov.au/"
              target="_blank"
              rel="noopener noreferrer"
              >Federal Circuit and Family Court of Australia</a
            >
          </li>
          <li>
            <a
              href="https://www.mcv.vic.gov.au/"
              target="_blank"
              rel="noopener noreferrer">Your local Magistrates’ Court</a
            >
          </li>
          <li>
            <a
              href="https://www.mcv.vic.gov.au/intervention-orders/family-violence-intervention-orders/applying-intervention-order-fvio"
              target="_blank"
              rel="noopener noreferrer"
              >Application for family violence intervention order can be made
              via the Magistrates’ Court of Victoria website if it is safe to do
              so. Applications can still be made in person at court if that is
              the safest option.</a
            >
          </li>
          <li>
            <a
              href="https://www.legislation.gov.au/C2004A00275/2010-01-04/text"
              target="_blank"
              rel="noopener noreferrer">Family Law Act</a
            >
          </li>
          <li>
            <a
              href="https://classic.austlii.edu.au/au/legis/vic/consol_act/ra2008173/"
              target="_blank"
              rel="noopener noreferrer">Relationships Act</a
            >
          </li>
          <li>
            <a
              href="https://www.fcfcoa.gov.au/pubs/legal-words"
              target="_blank"
              rel="noopener noreferrer"
              >Federal Circuit and Family Court of Australia; legal words used
              in court</a
            >
          </li>
        </ul>
      </details>
      <details>
        <summary>Separation & Divorce</summary>
        <ul>
          <li>
            <a
              href="https://www.fcfcoa.gov.au/fl/divorce/apply"
              target="_blank"
              rel="noopener noreferrer">How do I apply for a Divorce?</a
            >
          </li>
          <li>
            <a
              href="https://www.wire.org.au/leaving-a-relationship/"
              target="_blank"
              rel="noopener noreferrer">Leaving a Relationship</a
            >
          </li>
          <li>
            <a
              href="https://www.familyrelationships.gov.au/separation/family-mediation-dispute-res"
              target="_blank"
              rel="noopener noreferrer"
              >What is Family Mediation and Dispute Resolution?</a
            >
          </li>
          <li>
            <a
              href="https://www.fdrr.ag.gov.au/fdrr"
              target="_blank"
              rel="noopener noreferrer">Family Dispute Resolution Providers</a
            >
          </li>
        </ul>
      </details>
      <details>
        <summary>Children & Child Support</summary>
        <ul>
          <li>
            <a
              href="https://www.fcfcoa.gov.au/kids"
              target="_blank"
              rel="noopener noreferrer"
              >Kids Corner - Tailored and age appropriate resources for children
              provided by the Federal Circuit and Family Court of Australia</a
            >
          </li>
          <li>
            <a
              href="https://processing.csa.gov.au/estimator/About.aspx"
              target="_blank"
              rel="noopener noreferrer">Child Support Estimator</a
            >
          </li>
          <li>
            <a
              href="https://www.servicesaustralia.gov.au/separated-parents"
              target="_blank"
              rel="noopener noreferrer"
              >Child Support, Services Australia; basic overview of child
              support matters</a
            >
          </li>
          <li>
            <a
              href="https://guides.dss.gov.au/child-support-guide"
              target="_blank"
              rel="noopener noreferrer"
              >Child Support Guide; comprehensive overview of child support
              matters</a
            >
          </li>
          <li>
            <a
              href="https://www.legislation.gov.au/Details/C2020C00108"
              target="_blank"
              rel="noopener noreferrer">Child Support (Assessment) Act</a
            >
          </li>
          <li>
            <a
              href="https://raisingchildren.net.au/"
              target="_blank"
              rel="noopener noreferrer">Raising Children</a
            >
          </li>
          <li>
            <a
              href="https://www.familyrelationships.gov.au/parenting"
              target="_blank"
              rel="noopener noreferrer">Parenting After Separation</a
            >
          </li>
          <li>
            <a
              href="https://www.relationships.org.au/wp-content/uploads/What-about-the-children.pdf"
              target="_blank"
              rel="noopener noreferrer">What about the Children?</a
            >
          </li>
        </ul>
      </details>
      <details>
        <summary>Safety & Family Violence Support</summary>
        <ul>
          <li>
            <a
              href="https://www.betterhealth.vic.gov.au/health/HealthyLiving/What-is-family-violence"
              target="_blank"
              rel="noopener noreferrer">What is Family Violence?</a
            >
          </li>
          <li>
            <a
              href="https://www.wire.org.au/stalking/"
              target="_blank"
              rel="noopener noreferrer">What is Stalking?</a
            >
          </li>
          <li>
            <a
              href="https://www.vic.gov.au/about-the-orange-door"
              target="_blank"
              rel="noopener noreferrer"
              >The Orange Door: a free service for adults, children and young
              people who are experiencing or have experienced family violence
              and families who need extra support with the care of children</a
            >
          </li>
          <li>
            <a
              href="https://safesteps.org.au/"
              target="_blank"
              rel="noopener noreferrer"
              >Safe steps: the state-wide access point for those who need to
              leave a violent situation and access emergency crisis
              accommodation. Call safe steps on 1800 015 188 for help 24/7.</a
            >
          </li>
          <li>
            <a
              href="https://1800respect.org.au/"
              target="_blank"
              rel="noopener noreferrer"
              >1800RESPECT: a national sexual assault, domestic family violence
              counselling service can be contacted on 1800 737 732 to provide
              counselling, information and support services.</a
            >
          </li>
          <li>
            <a
              href="https://www.police.vic.gov.au/"
              target="_blank"
              rel="noopener noreferrer">Victoria Police</a
            >
          </li>
          <li>
            <a
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              style="pointer-events: none; cursor: text!important;"
              >Sexual Assault Crisis Line: 1800 806 292.</a
            >
          </li>
          <li>
            <a
              href="https://www.wire.org.au/"
              target="_blank"
              rel="noopener noreferrer"
              >WIRE: the Women’s Information Referral Service’s telephone
              support service assists Victorian women, nonbinary and
              gender-diverse people. WIRE can provide assistance to families in
              financial hardship and situations of financial abuse and family
              violence.</a
            >
          </li>
          <li>
            <a
              href="https://www.wire.org.au/"
              target="_blank"
              rel="noopener noreferrer"
              >The Men’s Referral Service provides help and support for
              people at risk of family violence on 1300 766 491.</a
            >
          </li>
          <li>
            <p>In case of emergency, always call 000.</p>
          </li>
        </ul>
      </details>
      <details>
        <summary>Money, Property & Government Help</summary>
        <ul>
          <li>
            <a
              href="https://www.ato.gov.au/"
              target="_blank"
              rel="noopener noreferrer"
              >Australian Tax Office; general information</a
            >
          </li>
          <li>
            <a
              href="https://www.ato.gov.au/individuals-and-families/investments-and-assets/capital-gains-tax"
              target="_blank"
              rel="noopener noreferrer"
              >Australian Tax Office; information regarding CGT</a
            >
          </li>
          <li>
            <a
              href="https://www.ato.gov.au/individuals-and-families/investments-and-assets/capital-gains-tax/calculating-your-cgt"
              target="_blank"
              rel="noopener noreferrer">Calculating CGT for real estate</a
            >
          </li>
          <li>
            <a
              href="https://www.servicesaustralia.gov.au/"
              target="_blank"
              rel="noopener noreferrer">Centrelink</a
            >
          </li>
          <li>
            <a
              href="https://www.servicesaustralia.gov.au/separated-parents"
              target="_blank"
              rel="noopener noreferrer">Child Support Agency</a
            >
          </li>
          <li>
            <a
              href="https://www.sro.vic.gov.au/self-service-options/calculators"
              target="_blank"
              rel="noopener noreferrer">State Revenue Office Calculators</a
            >
          </li>
          <li>
            <a
              href="https://raisingchildren.net.au/grown-ups/family-life/managing-money"
              target="_blank"
              rel="noopener noreferrer">Managing Money</a
            >
          </li>
          <li>
            <a
              href="https://moneysmart.gov.au/"
              target="_blank"
              rel="noopener noreferrer">Money Smart</a
            >
          </li>
          <li>
            <a
              href="https://www.wire.org.au/money-problems/"
              target="_blank"
              rel="noopener noreferrer">Money Problems with your Partner</a
            >
          </li>
          <li>
            <a
              href="https://reiv.com.au/choose-a-member"
              target="_blank"
              rel="noopener noreferrer">REIV – Finding a real estate agent</a
            >
          </li>
          <li>
            <a
              href="https://www.sro.vic.gov.au/buying-property/land-transfer-stamp-duty/land-transfer-stamp-duty-calculator"
              target="_blank"
              rel="noopener noreferrer">Calculating Stamp Duty payable</a
            >
          </li>
          <li>
            <a
              href="https://www.ag.gov.au/families-and-marriage/dividing-property-finances-and-superannuation-after-separation"
              target="_blank"
              rel="noopener noreferrer">Family Law Online</a
            >
          </li>
          <li>
            <a
              href="https://www.ag.gov.au/families-and-marriage/international-family-law-and-children/international-parental-child-abduction"
              target="_blank"
              rel="noopener noreferrer"
              >International Child Abduction; official Australian website</a
            >
          </li>
        </ul>
      </details>
      <details>
        <summary>Legal Help & Support Services</summary>
        <ul>
          <li>
            <a
              href="https://www.legalaid.vic.gov.au/"
              target="_blank"
              rel="noopener noreferrer">Victoria Legal Aid</a
            >
          </li>
          <li>
            <a
              href="https://www.womenslegal.org.au/"
              target="_blank"
              rel="noopener noreferrer">Women’s Legal Service Victoria</a
            >
          </li>
          <li>
            <a
              href="https://www.fclc.org.au/"
              target="_blank"
              rel="noopener noreferrer">Community Legal Centres</a
            >
          </li>
          <li>
            <a
              href="https://www.relationships.org.au/"
              target="_blank"
              rel="noopener noreferrer">Relationships Australia</a
            >
          </li>
          <li>
            <a
              href="https://relationshipmatters.com.au/"
              target="_blank"
              rel="noopener noreferrer">Relationship Matters</a
            >
          </li>
          <li>
            <a
              href="https://ds.org.au/"
              target="_blank"
              rel="noopener noreferrer">Drummond Street Services</a
            >
          </li>
          <li>
            <a
              href="https://www.familyrelationships.gov.au/"
              target="_blank"
              rel="noopener noreferrer"
              >Family Relationships Online; government overview of support
              services</a
            >
          </li>
          <li>
            <a
              href="https://www.relationshipsvictoria.org.au/resources/booklets/women-and-separation/"
              target="_blank"
              rel="noopener noreferrer"
              >Women and Separation – Managing New Horizons</a
            >
          </li>
          <li>
            <a
              href="https://racr.org.au/wp-content/uploads/2023/05/menseparation.pdf"
              target="_blank"
              rel="noopener noreferrer"
              >Men and Separation – Navigating the Future</a
            >
          </li>
          <li>
            <a
              href="https://www.liv.asn.au/"
              target="_blank"
              rel="noopener noreferrer">Law Institute of Victoria</a
            >
          </li>
          <li>
            <a
              href="https://www.familylawsection.org.au/"
              target="_blank"
              rel="noopener noreferrer"
              >Law Council of Australia – Family Law Section</a
            >
          </li>
          <li>
            <a
              href="https://aifs.gov.au/"
              target="_blank"
              rel="noopener noreferrer"
              >Australian Institute of Family Studies</a
            >
          </li>
          <li>
            <a
              href="https://www.collaborativepractice.com/"
              target="_blank"
              rel="noopener noreferrer"
              >International Academy of Collaborative Professionals</a
            >
          </li>
        </ul>
      </details>
    </div>
  </div>
</section>

<style lang="scss">
  section.intro-card {
    margin: 0;
    padding: 5rem 2rem 2rem 2rem;
    background: transparent;
    div#get-started {
      div#starting-steps {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p {
          width: 50%;
          color: var(--hazelwood);
          font-size: 1.5rem;
          font-weight: 300;
        }
      }
      div#accordian-wrapper {
        font-weight: 300;
        margin-top: 6rem;
        details {
          font-size: 1rem;
          border-bottom: 1px solid var(--hazelwood);
          padding: 0 0 1rem 0;
          margin: 0 0 2rem 0;
          summary {
            list-style: none;
            font-size: 2rem;
            margin: 2.25rem 0 2.25rem 0;
            cursor: pointer;
          }
          summary::marker,
          summary::-webkit-details-marker {
            content: "";
            display: none;
          }
          summary::after {
            content: url("../../assets/svgs/accordion-arrow.svg");
            color: var(--hazelwood);
            float: right;
            transform: rotate(0deg);
            transition: transform 0.8s ease-in-out;
          }
          ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li:last-child {
              margin: 0 0 2.5rem 0;
            }
            li {
              margin: 0rem 0 1rem 0;
              a {
                color: var(--hazelwood);
                text-decoration: underline;
              }
            }
          }
        }
        details[open] summary::after {
          transform: rotate(-180deg);
        }
        details::details-content {
          width: 40%;
          block-size: 0;
          transition:
            block-size 0.8s ease-in-out,
            content-visibility 0.8s ease-in-out;

          transition-behavior: allow-discrete;
          overflow: hidden;
        }
        details[open]::details-content {
          block-size: auto;
        }
      }
    }
  }

  @media screen and (max-width: 920px) {
    section.intro-card {
      padding: 2.5rem 2rem 0rem 2rem;
      div#intro-about {
        margin-bottom: 2.5rem;
        h2:first-of-type {
          font-size: 1.25rem;
          font-weight: 400;
          margin: 0;
          padding: 0;
        }
        h2 {
          font-size: 1.5rem;
          margin: 0;
          padding: 0;
        }
        :last-child {
          margin: 2.5rem 0 0 0;
        }
      }
      div#get-started {
        margin: 0;
        padding: 0;
        div#starting-steps {
          flex-direction: column;
          h2 {
            font-size: 1.25rem;
            font-weight: 400;
          }
          p {
            width: 100%;
            font-size: 1rem;
            margin: 2.5rem 0 0rem 0;
          }
        }
        div#accordian-wrapper {
          margin: 2.5rem 0 2.5rem 0;
          details {
            font-size: 1rem;
            margin: 0;
            padding: 0rem 0 0 0;
            border: none;
            summary {
              font-size: 1rem;
              margin: 1rem 0 0rem 0;
            }
          }
          details::details-content {
            width: 100%;
            padding: 1rem 0 0rem 0;
            border-bottom: 1px solid var(--hazelwood);
            transition:
              block-size 0.8s ease-in-out,
              content-visibility 0.8s ease-in-out;
            transition-behavior: allow-discrete;
            overflow: hidden;
          }
        }
      }
    }
  }
</style>
